<div class="offset-h" style="height: 30px;"></div>
<!-- </div> -->
  <!-- <link rel="stylesheet" href="static/css/style.min.css"/> -->
  <script defer src="/catalog/view/stylesheet/static/js/jquery/jquery.min.js?ver=3.5.1" id="jquery-js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> -->
  <script defer src="/catalog/view/stylesheet/static/js/common.min.js"></script>
  <script defer src="/extension/feedback/catalog/view/javascript/common.js" type="text/javascript"></script>
</body>
</html>