{{ header }}

<section class="tariffs-features-page page-content">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">Тарифы и функции</h2>
      <div class="your-tariff">
        <span>Текущий тариф:</span> <span class="rate-name">Стандарт</span>
        <span class="date-finish">
          <p class="date-finish-txt">
            <span>Дата окончания:</span>
            <time>
              <svg class="icon-time" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 2V5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 2V5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 9.09009H20.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.6937 13.7H15.7027" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.6937 16.7H15.7027" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.9945 13.7H12.0035" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.9945 16.7H12.0035" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.29529 13.7H8.30427" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.29529 16.7H8.30427" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              17.05.2022
            </time>
          </p>
        </div>
      </div>
    </div>
    
    
    <div class="col-12">
      <div class="rate-pay-block">
        <div class="rate-body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="rate-price">
              <span class="price-number">200 ₴/ </span><span class="period">мес</span>
              <span class="amount">за 1 компания</span>
            </div>
            <span class="rate-name">Стандарт</span>
          </div>
          <ul class="rate-options">
            <li class="rate-options-item">Отправка отзыва через сканирование <span class="qr-txt">QR-кода.</span></li>
            <li class="rate-options-item">Оповещения на <span class="b-txt">E-mail</span> о получении отзывов и сообщений.</li>
            <li class="rate-options-item">Возможность использования готового макета <span class="qr-txt">QR-кода.</span></li>
            <li class="rate-options-item">Один пользователь может подключить неограниченное количество компаний.</li>
            <li class="rate-options-item">Отправка любых понравившихся отзывов в Google Карты или другие соцсети.</li>
          </ul>
        </div>

        <form class="rate-pay-form" action="#">
          <div class="quantity-wrap">
            <span class="quantity-title">Количество:</span>
            <div class="quantity">
              <div class="quantity-button quantity-down">
                <svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H13" stroke="#3B5498" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                  
              </div>
              <input class="d-none" type="number" min="1" max="12" step="1" value="1" data-month-lang="мес">
              <span class="quantity-number">1<small class="month">мес</small></span>
              <div class="quantity-button quantity-up">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 7H13" stroke="#3B5498" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M7 13V1" stroke="#3B5498" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                  
              </div>
            </div>
          </div>
          <button class="btn-rate-pay">Оплатить</button>
        </form>
        
      </div>
    </div>
    
    
  </div>
</section>

{{ footer }}