{{ header }}

<section class="success-page page-content">
  <div class="row">
    <div class="col-12">
      <div class="img-wrap">
        <img src="/catalog/view/stylesheet/static/img/success-check.png" alt="">
      </div>
      <h1 class="page-title">{{ text_register_success }}</h2>
      <p class="text">{{ text_sent_email_for_activation }}</p>
    </div>
  </div>
</section>

{{ footer }}